*{
	margin: 0;
	padding: 0;}

.img-banner{
	display: none;}
.part-a{
	font-size: 30px;
	padding-left: 100px;}

.website_header{
	background-color:yellow;
	font-size: 25px;
	padding-left: 500px;}


#contact{
	font-size: 30px;
	padding-left: 500px;
}	
