.part-a{
	font-size: 30px;
	padding-left: 250px;
}

.website_header{
	
	font-size: 15px;
	padding-left: 500px;

}	
.img-workshop{width: 200px;}
.img-washer{width: 200px;}
.img-frg{width: 200px;}
.img-motor{width: 130px;}
.img-timer{width: 200px;}
.img-pump{width: 180px;}

.part-1{
	width: 1000px;
	font-size :30px;
	padding-left: 100px;
}

